.menu {
    display: flex;
    padding-left: 12px;
    padding-top: 12px;
    gap: 12px;
}

.menu p {
    color: forestgreen;
}

input {
    color: #0a53be;
}

#nom {
    transition: background-color 0.1s;
    background-color: #ffffff;
}

#nom:placeholder-shown {
    background-color: #aea9a9;
}